extends layout

block content
    h1 All requests by location: 
    for request in requestsByLocation
        p name: #{request.itemName}
        p location: #{request.location}
        p ownerid: #{request.ownerId}
        //- br
